
---
layout: default
---
<!-- 

    Blog Post layout
    Fam, I try but, I can figure out how this layout should look
    ++++++++++++++++++++++++++++++++++++++++++++++++++++
    Maybe something simple like a title and the content
    FUTURE ENHANCEMENT: Add comment functionality, maybe a like button as well to be fancy, -
    page view count and read time for the whole article.
    For now the page is target=_blank, but lets add some cool functionality when I have time to get it sorted

    Heavy on the JS and CMS API with this one

-->
